GLPI_URL=https://seu-glpi.exemplo.com/apirest.php
GLPI_APP_TOKEN=coloque_seu_app_token
GLPI_USER_TOKEN=coloque_seu_user_token

MAIL_RESET_URL=https://whatsapp-email-reset.seudominio.com/api/mail/reset-temp
MAIL_RESET_TOKEN=coloque_seu_token_interno

CORPORATE_EMAIL_DOMAINS=grupomns.com.br,pilardaterra.com.br
RESET_EMAIL_WHATSAPP_COMPARTILHADO=351915226012
