GLPI_URL=https://seu-glpi.exemplo.com/apirest.php
GLPI_APP_TOKEN=coloque_seu_app_token
GLPI_USER_TOKEN=coloque_seu_user_token

MAIL_RESET_URL=https://seu-endpoint-interno.exemplo.com/api/mail/reset-temp
MAIL_RESET_TOKEN=coloque_seu_token_interno

CORPORATE_EMAIL_DOMAINS=seudominio.com.br
RESET_EMAIL_WHATSAPP_COMPARTILHADO=5511999999999
